select {
	min-width: 100px;
}

.chart {
	padding: 0;
	min-width: 200px;
}

.deckCardImg {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.deckCard {
	float:left;
	width:100px;
}