<!DOCTYPE html>
<html>

<head>
	<script src="http://code.angularjs.org/1.2.10/angular.js"></script>
	<script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>
	<script src="js/deckbuilder.js"></script>

	<link rel="stylesheet" href="css/deckbuilder.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body  ng-app='deckbuilderApp' ng-controller="deckbuilderCtrl">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Deck Builder</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9">
			<div class = "row">
				<div class = "col-md-4">
					<h3 ng-disabled="buildDeck">Create Deck</h3>
				</div>
				<div class = "col-md-4">
					<label for="theName">Deck Name</label>
					<input ng-keyup="updateDeckInfo()" type="text" ng-model="fileName" ng-init="fileName='myDeck'" placeholder="myDeck"></input>
				</div>
				<div class = "col-md-4">
					<label for="theFormat">Choose Format</label>
					<select ng-change="updateDeckInfo()" name="myFormat" id="myFormat" ng-model="format.selectedFormat" ng-options="format.name for format in format.availableFormats track by format.id"></select>
				</div>
			</div>
		
			<div class = "row">
				<div class = "col-md-4">
					<h3>Sets ({{sets.length}})</h3>
					<select ng-model="selectedSet" ng-options="set.name for set in sets" ng-change="setSelected()" ng-disabled="setsAreLoading"></select>
				</div>
				<div class = "col-md-4">
					<h3 ng-disabled="cardsAreLoading">Cards ({{cards.length}})</h3>
					<select ng-model="selectedCard" ng-options="card.name for card in cards" ng-change="cardSelected()" ng-disabled="cardsAreLoading"></select>
				</div>
				<div class = "col-md-4">
					<form ng-submit="addToDeck()">
						<label><input type="radio" ng-model='deck_part' ng-value='"main"' ng-init='"main"' name="deckPart">Main Deck</label>
						<label><input type="radio" ng-model='deck_part' ng-value='"side_board"' name="deckPart">Sideboard</label><br>
						<label for="qty">Quantity</label>
						<input type="number" ng-model="qty" ng-init="qty=1" placeholder="1"></input>
						<button type="submit">Add to Deck</button>
						<a download="{{fileName}}.deck" ng-href="{{ url }}"><button  type="button">Download Deck</button></a>
						<!--<button type="button" ng-click="toggleExport()">Export</button>-->
					</form>
				</div> 
			</div>
			
			<div class = "row">
				<h3 ng-disabled="deckEmpty">Deck List</h3>
				<div ng-repeat="card in display">
					<div class = "deckCard">
						<img class = "deckCardImg" ng-src="{{card.image}}"/>
						<div class = "center">x{{card.quantity}} {{card.deck_part}}</div>
					</div>
				</div>
			</div>
			<br class = "clear"/>
		</div>
		<div class="col-md-3">
			<h3>Deck Stats</h3>
			
			<div ng-show="devotionCalculated" google-chart chart="devChart" class = "chart"></div>
			<div ng-show="typesCalculated" google-chart chart="typeChart" class = "chart"></div>
			<div id="card-info">
				<h3>Card Preview</h3>
				<img ng-src="{{cardImgUrl}}" alt="{{selectedCard.name}}" style="{{cardImgStyle}}" imageonload="imageLoaded()" ng-show="showCardImg">
			</div>
			<div ng-show="n != null">CMC : Qty</div>
			<div ng-repeat="n in manaCurve track by $index" ng-show="n != null">
				{{$index}} : {{n}}
			</div>
		</div>
	</div>

	<div ng-show="showExport">
		<h2>Deck Export</h2>
		<pre class = "code">{{deck|json}}</pre>
	</div>
</div>
</body>

</html>
