<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Angular Magic Demo</title>




        <link rel="stylesheet" href="css/demo.css">




  </head>

  <body>

    <div ng-app="listSets" ng-controller="listSetsCtrl">
	<h1>Sets ({{sets.length}})</h1>
	<select ng-model="selectedSet" ng-options="set.name for set in sets" ng-change="setSelected()" ng-disabled="setsAreLoading">
	</select>
	<h1 ng-disabled="cardsAreLoading">Cards ({{cards.length}})</h1>
	<select ng-model="selectedCard" ng-options="card.name for card in cards" ng-change="cardSelected()" ng-disabled="cardsAreLoading">
	</select>

        <form ng-submit="addToDeck()">
        <label><input type="radio" ng-model='deck_part' ng-value='"main"' ng-init='"main"' name="deckPart">Main Deck</label>
        <label><input type="radio" ng-model='deck_part' ng-value='"side_board"' name="deckPart">Sideboard</label><br>
        <label for="qty">Quantity</label>
        <input type="number" ng-model="qty" ng-init="qty=1" placeholder="1"></input>
        <button type="submit">Add to Deck</button>
        </form>

        <h1 ng-disabled="deckEmpty">Deck List</h1>
        <div ng-repeat="card in deck">
        {{card}}
        </div>

	<h1 ng-disabled="buildDeck">Create Deck</h1>	
        <label for="theName">Deck Name</label>
        <input type="text" ng-model="fileName" ng-init="fileName='myDeck'" placeholder="myDeck"></input>
	<br></br><label for="theFormat">Choose Format</label>
	<select name="myFormat" id="myFormat" ng-model="format.selectedFormat" ng-options="format.name for format in format.availableFormats track by format.id"></select>

        <br></br><button ng-click="saveToPc()">Create Download</button>

        <div id="myFile" ng-disabled=""></div>

	<div id="card-info">
		<br>
		<img ng-src="{{cardImgUrl}}" alt="{{selectedCard.name}}" style="{{cardImgStyle}}" imageonload="imageLoaded()" ng-show="showCardImg">

		<h2>Selected set:</h2>
		<pre>{{selectedSet | json}}</pre>
		<h2>Selected card:</h2>
		<pre>{{selectedCard | json}}</pre>
	</div>

        <script src="js/demo.js"></script>
        <script>var deckSize = 0; foreach(qty in card in deck){decksize += qty;}</script>



  </body>
</html>
